TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
MINI_APP_URL=https://sahifalab-hub-bot.vercel.app
API_BASE_URL=https://sahifalab-hub-bot-backend.up.railway.app
CLICK_PROVIDER_TOKEN=
PAYME_PROVIDER_TOKEN=
BOT_ADMIN_IDS=123456789
BOT_TIMEZONE=Asia/Tashkent
DEBUG=True
